---
import background from "../assets/background.svg";
import "remixicon/fonts/remixicon.css";

import goodpic from "../assets/goodpic.svg"

import "../styles/landing.css";
import "../styles/responsive.css"


---

<div id="landing">
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>
  <main>
    <section id="header" class="header">
      <div id="logo">
        <a href="http://" class="logo">Sayanjit Mukherjee.</a>
      </div>
      <i id = "menu" class="ri-menu-5-line"></i>
      <div id="links" class="links">
        <a href="http://">Projects</a>
        <a href="http://">Skills</a>
        <a href="http://">My Notes</a>
      </div>
    </section>
    <section class="hero">
      <div class="my-img">
        <img src={goodpic.src} alt="">
      </div>
      <div class="desc">
        <div class="sent-1">
            <p>Namaste , I'm</p>
            <h2>Sayan.</h2>
        </div>
        <div class="sent-2">
            <h1>I build cool stuff.</h1>
        </div>
        <div class="para">
           <p> I'm a Full Stack Engineer in the making , my projects include the domain of web as well as Artificial Intelligence and Machine Learning.</p>
        </div>
      </div>
    </section>
  </main>
</div>
<script src="../utilities/hamburger.js"></script>
