---

import "remixicon/fonts/remixicon.css";

import goodpic from "../assets/goodpic.svg"
import linked_in from "../assets/Linked_in.svg"
import github from "../assets/github_new.svg"
import leetcode from "../assets/leetcode.png"

import "../styles/landing.css";
import "../styles/responsive.css"


---

<div id="landing"> 
  <div class="bg"></div>
  <main>
    <section id="header" class="header">
      <div id="logo">
        <a href="http://" class="logo">Sayanjit Mukherjee.</a>
      </div>
      <i id = "menu" class="ri-menu-5-line"></i>
      <div id="links" class="links">
        <a href="http://">Projects</a>
        <a href="http://">Skills</a>
        <a href="http://">My Notes</a>
      </div>
    </section>
    <section class="hero">
      <div class="my-img">
        <img src={goodpic.src} alt="">
      </div>
      <div class="desc">
        <div class="sent-1">
            <p>Namaste , I'm</p>
            <h2>Sayan</h2>
            <p>and ,</p>
        </div>
        <div class="sent-2">
            <h1>I build cool stuff.</h1>
        </div>
        <div class="para">
           <p>I'm an Upcoming Software Engineer , interested in Backend Engineering , Architectures and Networking .</p>
        </div>
        <div class="social-media">
          <div class="linked-in">
            <a href=""><img class="icon" src={linked_in.src} alt="Linked in"></a>
          </div>
          <div class="github">
            <a href=""><img src={github.src} alt="Github"></a>
          </div>
          <div class="leetcode">
            <a href=""><img src={leetcode.src} alt=""></a>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
<script src="../utilities/hamburger.js"></script>
