---
import "../styles/project.css"

type Poject = {

    title : string;
    short_desc : string;
    long_desc : string ;
}


---




<div class="project">
    <div class="proj-1">
           
    </div>
    <div class="proj-2">
        
    </div>
</div>